@charset "UTF-8";
/* common */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}

main {
  padding-top: 15vh;
}

main img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-family: "Zen Antique", serif;
  margin: 5%;
  background: linear-gradient(transparent 60%, #ffe1ab 100%);
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  font-family: "Kaisei Tokumin", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Zen Antique", serif;
  padding: 4%;
}

h2:hover {
  transform: scale(105%);
  transition: 1s;
}

/* slide */
.swiper {
  overflow: hidden !important;
}

.swiper-slide {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  border: 7px solid #f4c3c3;
  background-color: white;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  box-shadow: 0 0 50px 20px #ffffff inset;
}

.swiper-slide .slide_img {
  width: 50%;
  position: relative;
  opacity: 1;
}
.swiper-slide .slide_img::before {
  content: ""; /* 疑似要素に必須 */
  width: 100%;
  height: 100%; /* 高さいっぱい */
  box-shadow: 0 0 50px 20px #ffffff inset;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 99;
}

.swiper-slide .slide_text {
  width: 50%;
  text-align: center;
  padding: 5%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
  z-index: 0;
}

.swiper-slide ::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 61, 125, 0.1);
}

.swiper-slide-active img {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  position: relative;
}

/* name_list */
.swiper-pagination-bullet {
  height: 10%;
  width: 7%;
  background-color: #97c2de;
  color: white;
  font-size: 120%;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px #7596ac;
          box-shadow: 2px 2px #7596ac;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiper-pagination-bullet:hover {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: lightgrey;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 5vh;
  margin: 10px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-horizontal-gap, 20px);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  padding: 3px;
}

/* responsive design */
@media (min-width: 500px) and (max-width: 799px) {
  .main_map {
    position: relative;
    width: 500px;
    height: 600px;
  }
}

@media (max-width: 499px) {
  .swiper-slide {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 4px solid #f4c3c3;
    display: block;
  }
  .swiper-slide .slide_img {
    width: 100vw;
  }
  .swiper-slide .slide_text {
    width: 100vw;
  }
  .swiper-slide img {
    width: 100vw;
    height: 100%;
    max-width: 90%;
    padding: 5%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 0;
    margin: 0 auto;
    z-index: 0;
  }
  .swiper-slide ::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
  }
  .swiper-slide-active img {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    position: relative;
  }
}
/*# sourceMappingURL=introduction.css.map */