/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* main_hero */
.main_hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 20vh; */
}

.main_hero h1 {
  font-family: 'Bangers', cursive;
  font-size: 20vw;
  position: relative;
}

.main_hero_title1, .main_hero_title3 {
  margin-left: 5vw;
}

.main_hero_title2 {
  margin-left: 60vw;
}

.main_hero h1::after {
  height: 20vh;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1vh;
  border-radius: 40%;
  filter: blur(10px);
  z-index: -1;
}

.main_hero.load .main_hero_title1::after {
  width: 42vw;
  background-color: #F4C3C3;
  transition: 1s;
  transition-delay: 1s;
}

.main_hero.load .main_hero_title2::after {
  width: 38vw;
  background-color: #c6deff;
  transition: 1s;
  transition-delay: 2s;
}

.main_hero.load .main_hero_title3::after {
  width: 35vw;
  background-color: #ffe1ab;
  transition: 1s;
  transition-delay: 3s;
}

.main_hero.load .main_hero_title1, .main_hero.load .main_hero_title3 {
  transform: translateX(3vw);
  transition: transform 1s;
}

.main_hero.load .main_hero_title2 {
  transform: translateX(-3vw);
  transition: transform 1s;
}

.arrows {
  /* margin-top: 10vh;
  margin-bottom: 10vh; */
  width: 60px;
  height: 72px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}





/* main_nav */
.main_nav {
  width: 90vw;
  margin-top: 20vh;
}
.main_nav img {
  width: 40vw;
}

.main_nav_topic, .main_nav_game, .main_nav_introduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 15vh;
}

.main_nav_game {
  margin-top: 20vh;
}

.main_nav_introduction div {
  margin-left: 2vw;
}

.main_nav_topic h1, .main_nav_game h1, .main_nav_introduction h1 {
  font-family: 'Rampart One', cursive;
  font-size: 6vw;
}

.main_nav_topic p, .main_nav_game p, .main_nav_introduction p {
  margin-top: 10%;
}

.main_nav_topic h2, .main_nav_game h2, .main_nav_introduction h2 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 3vw;
  margin-top: 3%;
}

.main_nav_topic button, .main_nav_game button, .main_nav_introduction button {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: blue;
  border: none;

  position: absolute;
}

.main_nav_topic a, .main_nav_game a, .main_nav_introduction a {
  color: white;
  font-family: 'DynaPuff', cursive;
  font-size: 3vw;
  text-decoration: none;
}

.main_nav_topic button, .main_nav_introduction button {
  right: 0;
  bottom: 5%;
}

.main_nav_topic button {
  background-color: #F4C3C3;
}

.main_nav_game button {
  left: 35vw;
  bottom: 0;
  background-color: #c6deff;
}

.main_nav_introduction button {
  background-color: #ffe1ab;
}

