.container{
  
  /* text-align: center; */
  justify-content: center;
}

.title{
  margin-top: 100px;
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  display: block;
  background:linear-gradient(135deg,#fed878 0%, #fa505e 100%);
  background: -webkit-linear-gradient(-45deg,#fed878 0%, #fa505e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.topicBox{
  width: 700px;
  height:100px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto;
  line-height: 100px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  
}

.q-collection{
  width: 600px;
  margin: 0 auto;
}

#questions > li {
  list-style: disc;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  /* background-color: papayawhip; */

}

#btn{
  background-color: #3498db;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
  box-shadow: 4px 4px 0 #2880b9;
  user-select: none;
  width: 400px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
}

#btn.disabled{
  background-color: #ccc;
  box-shadow: 0 4px 0 #bbb;
  opacity: 0.6;
}




